.u-left {
  float: left !important;
}

.u-right {
  float: right !important;
}

.u-clear {
  float: none !important;
}

@include respond-max($screen-sm-max) {
  .u-sm-clear {
    float: none !important;
  }
}

@include respond-max($screen-xs-max) {
  .u-xs-left {
    float: left !important;
  }

  .u-xs-clear {
    float: none !important;
  }
}

.u-alignRight {
  text-align: right !important;
}

.u-alignCenter {
  text-align: center !important;
}

.u-alignLeft {
  text-align: left !important;
}

.u-alignTop {
  vertical-align: top !important;
}

.u-alignMiddle {
  vertical-align: middle !important;
}

.u-alignBottom {
  vertical-align: bottom !important;
}

@include respond-max($screen-sm-max) {
  .u-sm-alignCenter {
    text-align: center !important;
  }
}

@include respond-max($screen-xs-max) {
  .u-xs-alignLeft {
    text-align: left !important;
  }

  .u-xs-alignCenter {
    text-align: center !important;
  }
}

.u-hidden {
  display: none !important;
}

.u-sm-hidden {
  @include respond-max($screen-sm-max) {
    display: none !important;
  }
}

.u-xs-hidden {
  @include respond-max($screen-xs-max) {
    display: none !important;
  }
}

.u-xxs-hidden {
  @include respond-max($screen-xxs-max) {
    display: none !important;
  }
}

.u-table {
  display: table !important;
  width: 100% !important;
}

.u-block {
  display: block !important;
}

.u-sm-block {
  @include respond-max($screen-sm-max) {
    display: block !important;
  }
}

.u-sm-inlineBlock {
  @include respond-max($screen-sm-max) {
    display: inline-block !important;
  }
}


@include respond-max($screen-xs-max) {
  .u-xs-block {
    display: block !important;
  }
}

@for $i from 1 through $grid-columns {
  @for $j from 1 through $i {
    @if $j < $i {
      .u-size#{$j}of#{$i} {
        width: 100% * $j / $i !important;
      }
    }
  }
}

@for $i from 1 through $grid-columns {
  @for $j from 1 through $i {
    @if $j < $i {
      .u-md-size#{$j}of#{$i} {
        @include respond-max($screen-md-max) {
          width: 100% * $j / $i !important;
        }
      }
    }
  }
}


@for $i from 1 through $grid-columns {
  @for $j from 1 through $i {
    @if $j < $i {
      .u-sm-size#{$j}of#{$i} {
        @include respond-max($screen-sm-max) {
          width: 100% * $j / $i !important;
        }
      }
    }
  }
}

@for $i from 1 through $grid-columns {
  @for $j from 1 through $i {
    @if $j < $i {
      .u-xs-size#{$j}of#{$i} {
        @include respond-max($screen-xs-max) {
          width: 100% * $j / $i !important;
        }
      }
    }
  }
}

.u-sizeFull {
  width: 100% !important;
}

.u-md-sizeFull {
  @include respond-max($screen-md-max) {
    width: 100% !important;
  }
}

.u-sm-sizeFull {
  @include respond-max($screen-sm-max) {
    width: 100% !important;
  }
}

.u-xs-sizeFull {
  @include respond-max($screen-xs-max) {
    width: 100% !important;
  }
}

.u-xxs-sizeFull {
  @include respond-max($screen-xxs-max) {
    width: 100% !important;
  }
}

.u-sizeAuto {
  width: auto !important;
}

@mixin u-text-variant($color) {
  color: $color !important;
}

.u-textBase {
  @include u-text-variant($pal-black);
}

.u-textPrimary {
  @include u-text-variant($color-primary);
}

.u-textSecondary {
  @include u-text-variant(rgba($pal-black, 0.6));
}

.u-textRed {
  @include u-text-variant($pal-red);
}

.u-textWhite {
  @include u-text-variant($pal-white);
}

.u-textUppercase {
  text-transform: uppercase !important;
}

.u-textCompact {
  line-height: $lineHeight-small !important;
}

.u-underlineNone {
  text-decoration: none;
}

.u-b0 {
  border-width: 0 !important;
}

.u-bb0 {
  border-bottom-width: 0 !important;
}

.u-m0 {
  margin: 0 !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb1 {
  margin-bottom: 10px !important;
}

.u-mb3 {
  margin-bottom: 30px !important;
}

.u-mb4 {
  margin-bottom: 40px !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mt1 {
  margin-top: 10px !important;
}

.u-mt2 {
  margin-top: 20px !important;
}

.u-mt3 {
  margin-top: 30px !important;
}

.u-mt4 {
  margin-top: 40px !important;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-ml1 {
  margin-left: 10px !important;
}

.u-mr1 {
  margin-right: 10px !important;
}

.u-mAuto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@include respond-max($screen-sm-max) {
  .u-sm-mt1 {
    margin-top: 10px !important;
  }

  .u-sm-mt3 {
    margin-top: 30px !important;
  }

  .u-sm-mb3 {
    margin-bottom: 30px !important;
  }
}

@include respond-max($screen-xs-max) {

  .u-xs-mt2 {
    margin-top: 20px !important;
  }

  .u-xs-mt3 {
    margin-top: 30px !important;
  }

  .u-xs-mb3 {
    margin-bottom: 30px !important;
  }
}

@include respond-max($screen-xxs-max) {

  .u-xxs-mt1 {
    margin-top: 10px !important;
  }

  .u-xxs-mt2 {
    margin-top: 20px !important;
  }
}

.u-p0 {
  padding: 0 !important;
}

.u-p1 {
  padding: 10px !important;
}

.u-p2 {
  padding: 20px !important;
}

.u-p3 {
  padding: 30px !important;
}

.u-p4 {
  padding: 40px !important;
}

.u-p5 {
  padding: 50px !important;
}

.u-px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-px1 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.u-px2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.u-px3 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.u-px4 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.u-py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.u-py1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important
}

.u-py2 {
  padding-top: 20px !important;
  padding-bottom: 20px !important
}

.u-py3 {
  padding-top: 30px !important;
  padding-bottom: 30px !important
}

.u-py4 {
  padding-top: 40px !important;
  padding-bottom: 40px !important
}

.u-py6 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.u-pl0 {
  padding-left: 0 !important;
}

.u-pl1 {
  padding-left: 10px !important;
}

.u-pr0 {
  padding-right: 0 !important;
}

.u-pr1 {
  padding-right: 10px !important;
}

.u-pr2 {
  padding-right: 20px !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pb2 {
  padding-bottom: 20px !important;
}

.u-pb3 {
  padding-bottom: 30px !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-pt4 {
  padding-top: 40px !important;
}

@include respond-max($screen-sm-max) {
  .u-sm-pl0 {
    padding-left: 0 !important;
  }

  .u-sm-pt1 {
    padding-top: 10px !important;
  }

  .u-sm-p2 {
    padding: 20px !important;
  }

  .u-sm-px2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@include respond-max($screen-xs-max) {
  .u-xs-pt0 {
    padding-top: 0 !important;
  }

  .u-xs-pl0 {
    padding-left: 0 !important;
  }

  .u-xs-pl1 {
    padding-left: 10px !important;
  }

  .u-xs-pl2 {
    padding-left: 20px !important;
  }

  .u-xs-pb0 {
    padding-bottom: 0 !important;
  }

  .u-xs-py0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .u-xs-p2 {
    padding: 20px !important;
  }
}

@include respond-max($screen-xxs-max) {

  .u-xxs-pl2 {
    padding-left: 20px !important;
  }
}

.u-bt0 {
  border-top: 0 !important;
}

.u-bt1 {
  border-top: 1px solid rgba($pal-black, 0.1);
}
