<div class='section-row u-mt4'>
  <div class='section-chunk u-size1of4 u-px2 u-xs-size1of2 u-xxs-sizeFull'>
    <div class='box u-sm-p2'>
      <span class='icon icon--waistline'></span>
      <p class='t-large'>
        9000
      </p>
      <p class='t4 u-textSecondary'>
        Metabolic<br/>
        and bariatric<br/>
        surgeries
      </p>
    </div>
  </div>
  <div class='section-chunk u-size1of4 u-px2 u-sm-pl0 u-xs-size1of2 u-xxs-sizeFull u-xxs-mt2 u-xxs-pl2'>
    <div class='box u-sm-p2'>
      <span class='icon icon--laser'></span>
      <p class='t-large'>
        5500
      </p>
      <p class='t4 u-textSecondary'>
        Laparoscopic<br/>
        surgical<br/>
        procedures
      </p>
    </div>
  </div>
  <div class='section-chunk u-size1of4 u-px2 u-sm-pl0 u-xs-size1of2 u-xs-mt2 u-xs-pl2 u-xxs-sizeFull'>
    <div class='box u-sm-p2'>
      <span class='icon icon--waistline'></span>
      <p class='t-large'>
        2000
      </p>
      <p class='t4 u-textSecondary'>
        Plastic or<br/>
        reconstructive<br/>
        surgeries
      </p>
    </div>
  </div>
  <div class='section-chunk u-size1of4 u-px2 u-sm-pl0 u-xs-size1of2 u-xs-mt2 u-xxs-sizeFull u-xxs-pl2'>
    <div class='box u-sm-p2'>
      <span class='icon icon--heart'></span>
      <p class='t-large'>
        Zero
      </p>
      <p class='t4 u-textSecondary'>
        <br/>
        <br/>
        Fatalities
      </p>
    </div>
  </div>
</div>
