<div class='navBar js-nav-bar'>
  <div class='wrap'>
    <a href='/' class='navBar-logo'></a>
    <button class="navBar-button u-hidden u-sm-block js-toggle-side-menu">
      <span class="icon icon--burger"></span>
    </button>
    <div class='navBar-dropdown u-xs-hidden'>
      <ul class='navBar-dropdownLinks'>
        <li class='navBar-dropdownLink'>
          <a
            href='https://bariatricpal.typeform.com/to/IKm6G5'
            target='_blank'>
            Health Questionnaire for Weight Loss Surgery
          </a>
        </li>
        <li class='navBar-dropdownLink u-bb0'>
          <a
            href='https://bariatricpal.typeform.com/to/FIdZ6c'
            target='_blank'>
            Health Questionnaire for Plastic Surgery
          </a>
        </li>
      </ul>
      <button class='navBar-dropdownBtn'>
        Free consultation
      </button>
    </div>
    <div class='navBar-text u-sm-hidden'>
      <p class='t-smaller u-textSecondary'>
        Schedule a consultation
      </p>
      <p class='t3'>
        <a class='u-textBase' href='tel:8449573325'>
          (844) 957-3325
        </a>
      </p>
    </div>
  </div>
  <div class='wrap'>
    <div class='navBar-menu'>
      <ul class='menu'>
        <li class='menu-link u-size3of16 u-sm-sizeFull'>
          <a href='/'>Home</a>
        </li>
        <li class='menu-link u-sm-sizeFull'>
          <ul class='menu-dropdown'>
            <li class='menu-dropdownLink'>
              <a href='/weight-loss-surgeries/overview'>
                <span class='u-hidden u-sm-inlineBlock'>Weight Loss Surgery </span>
                Overview
              </a>
            </li>
            <li class='menu-dropdownLink'>
              <a href='/weight-loss-surgeries'>
                Bariatric Surgeries
              </a>
            </li>
            <li class='menu-dropdownLink'>
              <a href='/weight-loss-surgeries/testimonials'>
                WLS Testimonials
              </a>
            </li>
            <li class='menu-dropdownLink'>
              <a href='/weight-loss-surgeries/faq'>
                WLS FAQ
              </a>
            </li>
            <li class='menu-dropdownLink'>
              <a href='/weight-loss-surgeries/before-and-after'>
                WLS Before &amp; After
              </a>
            </li>
            <li class='menu-dropdownText'>
              <p>
                {{site.menu.wls}}
              </p>
            </li>
          </ul>
          <a class='u-sm-hidden' href='/weight-loss-surgeries/overview'>
            Weight Loss Surgery
          </a>
        </li>
        <li class='menu-link u-sm-sizeFull'>
          <ul class='menu-dropdown'>
            <li class='menu-dropdownLink'>
              <a href='/plastic-surgeries/overview'>
                <span class='u-hidden u-sm-inlineBlock'>Plastic Surgery </span>
                Overview
              </a>
            </li>
            <li class='menu-dropdownLink'>
              <a href='/plastic-surgeries'>
                Plastic Surgeries
              </a>
            </li>
            <li class='menu-dropdownLink'>
              <a href='/plastic-surgeries/testimonials'>
                Plastic Surgery Testimonials
              </a>
            </li>
            <li class='menu-dropdownLink'>
              <a href='/plastic-surgeries/faq'>
                Plastic Surgery FAQ
              </a>
            </li>
            <li class='menu-dropdownLink'>
              <a href='/plastic-surgeries/before-and-after'>
                Plastic Surgery Before &amp; After
              </a>
            </li>
            <li class='menu-dropdownText'>
              <p>
                {{site.menu.plastics}}
              </p>
            </li>
          </ul>
          <a class='u-sm-hidden' href='/plastic-surgeries/overview'>
            Plastic Surgery
          </a>
        </li>
        <li class='menu-link u-size2of16 u-sm-sizeFull'>
          <ul class='menu-dropdown'>
            <li class='menu-dropdownLink'>
              <a href='/about/bariatricpal'>
                About BariatricPal
              </a>
            </li>
            <li class='menu-dropdownLink u-bb0'>
              <a href='/about/bariatricpal-hospital-mx/'>
                About BariatricPal Hospital MX
              </a>
            </li>
          </ul>
          <a class='u-sm-hidden' href='/about/bariatricpal'>
            About
          </a>
        </li>
        <li class='menu-link u-sm-sizeFull'>
          <a class='u-textRed' href='/contact'>
            Get in Touch
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
