{% if include.id == 'wls' %}
  <div class='section u-py6'>
    <div class='section-row'>
      <div class='section-chunk u-size2of5 u-px2 u-xs-size10of12 u-xxs-sizeFull'>
        <h1 class='u-mt0'>
          All-Inclusive Package for One Low Price!
        </h1>
        <p class='t3 u-textPrimary note note--primary'>
          There are no hidden fees or expenses. It’s an all-inclusive, affordable surgery package! Your weight loss surgery package includes:
        </p>
      </div>
      <div class='section-chunk u-size3of5 u-px4 u-pr2 u-xs-sizeFull u-xs-pl2 u-xs-mt3'>
        <h3 class='u-mt0'>
          Surgery and related expenses
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            The surgical procedure
          </li>
          <li class='checkList-item'>
            Fees for the lead surgeon Dr. Illan, two other surgeons, the anesthesiologist, a doctor, and a surgeon’s assistant or nurse
          </li>
          <li class='checkList-item'>
            Exclusive disposable surgical material:
            <ol class='bulletList'>
              <li class='bulletList-item'>
                Tri-staple™ technology titanium staples by Medtronic™ providing outstanding performance for your surgery.
              </li>
              <li class='bulletList-item'>
                LigaSure™ blood vessel sealer and divider for optimal safety and results.
              </li>
              <li class='bulletList-item'>
                Endo Stitch™ absorbable suture to reinforce the staple line for added security and safety.
              </li>
            </ol>
          </li>
          <li class='checkList-item'>
            Pre-op blood tests, chest x-ray, EKG, and cardiologist evaluation
          </li>
          <li class='checkList-item'>
            Prescription and discharge medications.
          </li>
          <li class='checkList-item'>
            Required paperwork or reports for you to take home for your records and doctors
          </li>
        </ul>
        <h3 class='u-mt4'>
          All ground transportation
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            Pick-up from and drop-off at the San Diego Airport before and after surgery
          </li>
          <li class='checkList-item'>
            Transportation between the hospital and the hotel
          </li>
        </ul>
        <h3 class='u-mt4'>
          5-star accommodations in Mexico
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            1 night in the hospital (sleeve gastrectomy) or 2 nights (roux-en-Y gastric bypass, mini gastric bypass, or duodenal switch)
          </li>
          <li class='checkList-item'>
            1 night in the Real Inn Tijuana for recovery after your surgery
          </li>
          <li class='checkList-item'>
            Wi-Fi for your stay in the hospital and hotel
          </li>
          <li class='checkList-item'>
            Free long distance calls to the US and Canada from the hospital
          </li>
          <li class='checkList-item'>
            A companion can stay with you at the hotel for no additional charge.
          </li>
        </ul>
        <h3 class='u-mt4'>
          Full support during your stay
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            Dedicated valets to assist you and your companion at the hospital and hotel.
          </li>
          <li class='checkList-item'>
            24-hr support from BariatricPal staff in the U.S. and Mexico.
          </li>
          <li class='checkList-item'>
            English speaking staff during your whole stay with us.
          </li>
        </ul>
        <h3 class='u-mt4'>
          Follow-up support
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            Lifetime nutritional support
          </li>
          <li class='checkList-item'>
            Direct access (email and phone number) to Dr. Illan after surgery for follow-up
          </li>
          <li class='checkList-item'>
            Access to our private Facebook group for unlimited information and support
          </li>
        </ul>
      </div>
    </div>
  </div>
{% else %}
  <div class='section u-py6'>
    <div class='section-row'>
      <div class='section-chunk u-size2of5 u-px2 u-xs-size10of12 u-xxs-sizeFull'>
        <h1 class='u-mt0'>
          Plastic and Reconstructive Surgeries
          All-Inclusive Package for One Low Price!
        </h1>
        <p class='t3 u-textPrimary note note--primary'>
          There are no hidden fees or expenses. It’s an all-inclusive, affordable surgery package! Your plastic and reconstructive surgery package includes:
        </p>
      </div>
      <div class='section-chunk u-size3of5 u-px4 u-pr2 u-xs-sizeFull u-xs-pl2 u-xs-mt3'>
        <h3 class='u-mt0'>
          Surgery and related expenses
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            The surgical procedure
          </li>
          <li class='checkList-item'>
            Fees for 2 plastic surgeons including lead surgeon Dr. Galvez, a general surgeon, and the anesthesiologist, a doctor, and a surgeon’s assistant or nurse
          </li>
          <li class='checkList-item'>
            Pre-op blood tests, chest x-ray, EKG, and cardiologist evaluation
          </li>
          <li class='checkList-item'>
            Prescription and discharge medications
          </li>
          <li class='checkList-item'>
            Required paperwork or reports for you to take home for your records and doctors
          </li>
        </ul>
        <h3 class='u-mt4'>
          All ground transportation
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            Pick-up from and drop-off at the San Diego Airport before and after surgery
          </li>
          <li class='checkList-item'>
            Transportation between the hospital and the hotel.
          </li>
        </ul>
        <h3 class='u-mt4'>
          5-star accommodations in Mexico
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            1 or 2 nights in the hospital
          </li>
          <li class='checkList-item'>
            1 to 14 nights in the Real Inn Tijuana for recovery after your surgery.
          </li>
          <li class='checkList-item'>
            Wi-Fi for your stay in the hospital and hotel
          </li>
          <li class='checkList-item'>
            Free long distance calls to the US and Canada from the hospital
          </li>
          <li class='checkList-item'>
            A companion can stay with you at the hotel for no additional charge.
          </li>
        </ul>
        <h3 class='u-mt4'>
          Full support during your stay
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            24-hour valets to assist you and your companion at the hospital
          </li>
          <li class='checkList-item'>
            Dedicated valets to assist you and your companion at the hospital and hotel 10am to 6pm.
          </li>
          <li class='checkList-item'>
            24-hour nursing support your first 3 days in the hotel
          </li>
          <li class='checkList-item'>
            24-hr support from BariatricPal staff in the U.S. and Mexico
          </li>
          <li class='checkList-item'>
            English speaking staff during your whole stay with us
          </li>
        </ul>
        <h3 class='u-mt4'>
          Follow-up support
        </h3>
        <ul class='checkList'>
          <li class='checkList-item'>
            1 set of compression garments
          </li>
          <li class='checkList-item'>
            Direct access (email and phone number) to Dr. Galvez after surgery for follow-up
          </li>
          <li class='checkList-item'>
            Access to our private Facebook group for unlimited information and support
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endif %}

