.footer {
  padding-bottom: 40px;
}

.footer-row {
  width: 100%;
  border-top: 1px solid rgba($pal-black, 0.1);
  @include cf;
}

.footer-cell {
  padding: 30px;
  font-size: $fontSize-smaller;
  float: left;
  @include cf;

  @include respond-max($screen-sm-max) {
    p {
      max-width: 400px;
    }
  }


  @include respond-max($screen-xs-max) {
    & + & {
      padding-top: 0;
    }
  }
}

.footer-feed {
  margin-top: 20px;
  @include cf;

  @include respond-max($screen-xs-max) {
    width: 100%;
    padding-top: 0;
  }
}

.footer-feedItem {
  position: relative;
  width: 23.5%;
  margin: 0.2em;
  float: left;
  color: $pal-white;
  text-decoration: none;

  &:hover {
    color: $pal-white;
  }

  &:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
  }

  &:last-child {
    display: none;
  }

  @include respond-max($screen-sm-max) {
    width: 31%;

    &:last-child {
      display: block;
    }
  }
}

.footer-feedImage {
  display: block;
}

.footer-feedCounter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 19px;
  margin: auto;
  text-align: center;
  display: none;

  .footer-feedItem:hover & {
    display: block;
  }
}

.footer-feedCounterItem {
  display: inline-block;
  font-weight: bold;

  & + & {
    margin-left: 20px;
  }
}

.footer-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: $fontWeight-bold;
}

.footer-link {
  display: block;
  color: rgba($pal-black, 0.5);
  transition: color 0.2s;
  margin: 6px 0;

  &:hover {
    color: rgba($pal-black, 0.7);
  }
}

.footer-socialLinks {
  margin-top: 30px;
  padding: 20px 25px;
  font-size: $fontSize-smaller;
  background: rgba($pal-gray100, 0.5);
  border-radius: $borderRadius-base;
  @include cf;
}

.footer-socialLink {
  display: block;
  text-decoration: none;
  line-height: 16px;
  float: left;

  & + & {
    margin-left: 25px;
  }

  span {
    margin-top: -3px;
    margin-right: 5px;
  }

  @include respond-max($screen-xxs-max) {
    float: none;

    & + & {
      margin-left: 0;
      margin-top: 25px;
    }
  }
}

.footer-copyright {
  margin: 0;
  padding: 30px;
  color: rgba($pal-black, 0.5);
  font-size: $fontSize-smaller;
  float: left;

  @include respond-max($screen-xs-max) {
    float: none;
    padding-bottom: 0;
    text-align: center;
  }
}

.footer-menu {
  padding: 30px;
  font-size: $fontSize-smaller;
  text-align: right;

  @include respond-max($screen-xs-max) {
    padding-top: 15px;
    text-align: center;
  }
}

.footer-menuItem {
  display: inline-block;
  color: rgba($pal-black, 0.5);

  a {
    color: inherit;
  }

  a:hover {
    color: rgba($pal-black, 0.8);
  }

  & + &  {

    &:before {
      content: '/';
      color: inherit;
      display: inline-block;
      margin: 0 5px;
    }
  }
}
